<div class="sidebar-footer hidden-small">
  <div id = "footer_side" display="none">
    <a data-toggle="tooltip" data-placement="top" title="Admin" href="/admin">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
</div>
