<!-- Modal -->
<div class="modal modal-center fade" id="detailPage" tabindex="-1" role="dialog" aria-labelledby="detailPageLabel">
  <div class="modal-dialog modal-custom" role="document">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="detailPageLabel">More Info</h3>
      </div>
      <div class="modal-body">
        <div id="panel_mo" class="x_panel">
          <canvas id="lineChart_mo" height="50%"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
