<div class="progress" style="width:50%; margin:auto;">
  <div id="propass" class="progress-bar progress-bar-striped progress-pass" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 34%">PASS</div>
  <div id="profail" class="progress-bar progress-bar-striped progress-fail" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 34%">FAIL</div>
  <div id="proskip" class="progress-bar progress-bar-striped progress-skip" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 32%">SKIP</div>
</div>
