<!DOCTYPE html>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Menu</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Team 현황 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/team/1">네이버테스트1팀</a></li>
          <li><a href="/team/2">네이버테스트2팀</a></li>
          <li><a href="/team/3">네이버테스트3팀</a></li>
          <li><a href="/team/4">네이버테스트4팀</a></li>
          <li><a href="/team/5">라인테스트팀</a></li>
        </ul>
      </li>

      <li><a><i class="fa fa-bar-chart-o"></i> 환경 현황 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/platform/pcWeb">PC Web</a></li>
          <li><a href="/platform/mobileWeb">Mobile Web</a></li>
          <li><a href="/platform/mobileApp">Mobile App</a></li>
        </ul>
      </li>

      <li><a><i class="fa fa-clone"></i> 추가 메뉴 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/customSort">Custom Menu</a></li>
          <li><a href="/guide">가이드</a></li>
        </ul>
      </li>

    </ul>
  </div>
</div>
