<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Menu</h3>
    <ul class="nav side-menu">
      <li><a href="/all"><i class="fa fa-bar-chart"></i> 전체 현황</a>
      </li>
      <li><a><i class="fa fa-id-card"></i> Team 현황 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/team/1">Contents QA</a></li>
          <li><a href="/team/2">Portal QA</a></li>
          <li><a href="/team/3">Works QA</a></li>
          <li><a href="/team/4">Community QA</a></li>
          <li><a href="/team/5">Service QA</a></li>
          <li><a href="/team/6">Clova QA</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-globe"></i> 환경 현황 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/platform/pcWeb">PC Web</a></li>
          <li><a href="/platform/mobileWeb">Mobile Web</a></li>
          <li><a href="/platform/mobileApp">Mobile App</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-question"></i> 추가 메뉴 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/guide">가이드</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
