<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/header.ejs %>
  <title>Dashboard</title>

  <!-- Select2 -->
  <link href="/scripts/select2/dist/css/select2.min.css" rel="stylesheet" />
  <!-- Custom Theme Style -->
  <link href="/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="/index" class="site_title"> Dashboard </a>
          </div>
          <div class="clearfix"></div>
          <br />

          <% include ./partials/sideBar.ejs %>

          <div class="sidebar-footer hidden-small">
            <div id = "footer_side" display="none">
              <a data-toggle="tooltip" data-placement="top" title="logout" href="/admin/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Top Nav -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="/admin/logout"><i class="fa fa-sign-out pull-right"></i> Logout </a></li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>
      </div>
      <!-- Top Nav -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Admin Page</h3>
            </div>

            <% include ./partials/titleRight.ejs %>
          </div>
          <div class="clearfix"></div>
          <!-- Alter maxlabel -->
          <div id="knobDiv" class="col-md-9">
            <div class="x_panel">
              <div class="x_title">
                <h2>차트에 노출되는 build 개수(1개 ~ 20개) 설정</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-6">
                  <input id="knobInput" class="knob"/>
                </div>
                <form id="changeLabelForm" action="/admin/changeMaxLabel" method="post">
                  <div class = "col-md-6">
                    <div class = "col-md-12">
                      <p><h2 id="MaxLabel_text">현재 : 5개</h2></p>
                      <p><h2 id="newMaxLabel_text">변경 : N개</h2></p>
                      <input type="hidden" name="newMaxLabel" id="newMaxLabel"/>
                    </div>
                    <div class = "col-md-12">
                      <span class="section"></span>
                      <button id="labelSubmit" type="submit" class="btn btn-dark"><h2>제출하기</h2></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Alter maxlabel -->
          <!-- Delete Column -->
          <div id="customSortDiv" class="col-md-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>삭제하려는 단위를 선택하고 삭제버튼을 누르세요.</h2>
                <div class="clearfix"></div>
                <p>
                  <b>주의 : 선택한 단위를 참조하는 모든 하위 컬럼들이 함께 삭제됩니다. </b><hr />
                  ex) 특정 Project만 선택하고 삭제 -> 해당 Project에 속한 모든 정보가 삭제됩니다. <br />
                  ex2) 특정 Package까지 선택하고 삭제 -> 해당 Package의 모든 Testcase정보가 삭제됩니다.
                </p>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div id = "select2Div0" class="col-md-3">
                  <p> Project 선택 </p>
                  <span class="section"></span>
                  <select id ="select2_multiple0" tabindex="-1" aria-hidden="true" style="width:90%">
                  </select>
                </div>
                <div id = "select2Div1" class="col-md-3">
                  <p> Buildno 선택 </p>
                  <span class="section"></span>
                  <select id ="select2_multiple1" disabled="true" multiple="multiple" tabindex="-1" aria-hidden="true" style="width:90%">
                  </select>
                </div>
                <div id = "select2Div2" class="col-md-3">
                  <p> Package/Class 선택 </p>
                  <span class="section"></span>
                  <select id ="select2_multiple2" disabled="true" multiple="multiple" tabindex="-1" aria-hidden="true" style="width:90%">
                  </select>
                </div>
                <div id = "select2Div3" class="col-md-3">
                  <p> Testcase 선택 </p>
                  <span class="section"></span>
                  <select id ="select2_multiple3" disabled="true" multiple="multiple" tabindex="-1" aria-hidden="true" style="width:90%">
                  </select>
                </div>
              </div>
              <div class="x_content">
                <div class = "col-md-12" style="text-align:center;">
                  <span class="section"></span>
                  <button id = "customSubmitBtn" type="button" class="btn btn-dark"><h3>삭제</h3></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Delete Column -->
        </div>
      </div>
      <!-- /page content -->

      <% include ./partials/footer.ejs %>
    </div>
  </div>

  <% include ./partials/srcDefault.ejs %>

  <!-- jQuery knob -->
  <script src="/scripts/jquery-knob/dist/jquery.knob.min.js"></script>
  <!-- Select2 -->
  <script src="/scripts/select2/dist/js/select2.full.min.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/js/custom.min.js"></script>
</body>
</html>
