<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header.ejs %>
  <title>Dashboard</title>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="/auto/index" class="site_title">
              <i class="fa fa-window-maximize"></i><span>Dashboard</span>
            </a>
          </div>
          <div class="clearfix"></div>
          <br />

          <% include ./partials/sideBar.ejs %>

          <% include ./partials/menuFooter.ejs %>
        </div>
      </div>

      <% include ./partials/topNav.ejs %>

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Guide Page</h3>
            </div>

            <% include ./partials/titleRight.ejs %>
          </div>
          <div class="clearfix"></div>
          <div class="x_panel">
            <div class="x_title">
              <h2>공지 사항</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h4>
                <ul>
                  <li>
                    <h3>자동화 실패 알림</h3>
                  </li>
                  <ul>
                    <li>
                      <p>적용시점 : 10/17(목) 20:00 이후</p>
                    </li>
                    <li>
                      <p><b>최근 3번의 빌드에서 같은 TestCase가 Fail처리 된 경우 알림 메일이 발송</b>됩니다.</p>
                    </li>
                    <li>
                      <p>알림을 받아보실 메일 주소가 프로젝트 정보에 있는지 여부에 따라 메일이 발송됩니다.</p>
                    </li>
                    <li>
                      <p>3번의 빌드가 누적되기 전이나, 3번의 빌드가 수행되기 전에 메일 주소가 없는 상태에서 1번 수행하실 경우 메일이 발송되지 않습니다.</p>
                    </li>
                    <li>
                      <p>메일 주소 등록법 : </p>
                      <p>(common-unit-lib 사용)  config.properties의 "EMAIL_ADDRESS= " 부분에 주소를 작성해주시면 됩니다.</p>
                      <p>(common-unit-lib 미사용)  beforeSuite호출시 마지막 파라미터로 메일 주소를 넘겨주시면 됩니다.</p>
                    </li>
                  </ul>
                </ul>
                <hr>
                <ul>
                  <li>
                    <h3>개편된 팀 정보 관련</h3>
                  </li>
                  <ul>
                    <li>
                      <p>적용시점 : 7/17(수) 20:00 이후</p>
                    </li>
                    <li>
                      <p>기존 데이터들은 변경되는 팀으로 이전됩니다. 이후에는 변경된 팀 정보로 수행 부탁드리며, 잘못된 소속으로 이전되신 분들은 아래 메일로 문의부탁드립니다.</p>
                    </li>
                    <li>
                      팀 정보 변경법 : config.properties의 "TEAM= " 부분을 변경해주시면 됩니다.
                    </li>
                  </ul>
                </ul>
                <hr>
                <ul>
                  <li>
                    <h3>최신 DashboardAPI : <del>ver 0.7</del> -> ver 0.8 / SQA-Client : v1.1.3</h3>
                  </li>
                  <ul>
                    <li>
                      <p><b>SQA-Client를 사용하시는 경우, v1.1.3 이상</b>에서 Dashboard연동이 가능합니다.</p>
                    </li>
                    <li>
                      <p>자동화 실패알림 기능을 사용하시려는 경우, <b>API를 ver 0.8이상</b>으로 업데이트해주셔야 합니다.</p>
                    </li>
                    <li>
                      <p>DNS 변경 이후 프로젝트 결과가 갑자기 연동되지 않는 경우, <b>API를 ver 0.7이상</b>으로 업데이트하시면 동작합니다.</p>
                    </li>
                  </ul>
                </ul>
                <hr>
                <ul>
                  <li>
                    <h3>Data가 깨져나오는 경우 </h3>
                  </li>
                  <ul>
                    <li>
                      <p>기본 인코딩은 DB와 Dashboard 모두 <b>UTF-8</b>을 사용하고 있습니다.</p>
                    </li>
                    <li>
                      <p>편집기나 프로젝트 build시의 인코딩을 확인해주시고, 이후에도 인코딩 문제가 계속 되면 아래 메일이나 메신저로 문의 부탁드립니다.</p>
                    </li>
                  </ul>
                </ul>
              </h4>
            </div>
          </div>

          <div class="x_panel">
            <div class="x_title">
              <h2>Dashboard 연동방법</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h4>
                <ul>
                  <li>
                    <h3>참고사항</h3>
                  </li>
                  <ul>
                    <li>
                      <p>AUTHOR는 반드시 구별 가능한 개인이름을 사용해주세요. (추후 문제 발생시 해당 정보를 참조하여 연락드립니다)</p>
                    </li>
                    <li>
                      <p><b>400 에러가 발생한 경우, Parameter 제약사항을 다시 한 번 확인</b>해주세요.</p>
                      <p>
                        <ul>
                          <li>
                            <p>팀 이름과 플랫폼 이름의 값들은 한글을 지원하지 않으며, 지정된 값들만 허용됩니다.</p>
                          </li>
                          <li>
                            <p><b>NT1 ~ NT3, LT등의 예전 팀이름들</b>은 혼동을 방지하기 위해 더 이상 지원하지 않습니다.</p>
                          </li>
                          <li><p>다른 Parameter에도 한글을 사용하신다면, encoding이 UTF-8인지 확인해주세요.</p></li>
                        </ul>
                      </p>
                    </li>
                  </ul>
                </ul>
                <hr>
              </h4>
              <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                  <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">common-unit-lib 사용</h4>
                  </a>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <div class="col-md-6 col-sm-6 com-xs-12">
                        <img style="max-width: 100%;height: auto" src="/images/guide_220_pom.PNG" />
                      </div>
                      <div class="col-md-6 col-sm-6 com-xs-12">
                        <div class="x_panel">
                          <ol>
                            <li>
                              pom.xml 업데이트
                              <ul>
                                <p>
                                  <li>pom.xml > common-unit-lib의 version을 3.2.0 이상으로 업데이트해주세요.</li>
                                </p>
                                <p>
                                  <li>project 우클릭 > Maven > Update Project 를 수행하여 pom.xml 업데이트를 반영해주세요.</li>
                                </p>        
                              </ul>
                            </li>
                            <hr />
                            <li>
                              config.properties 작성
                              <ul>
                                <p>
                                  <li>
                                    필수 작성 항목 : <b>PROJECT_NAME, AUTHOR, DASHBOARD, TEAM</b>
                                    <ul>
                                      <li>PROJECT_NAME : [플랫폼정보] 프로젝트이름</li>
                                      <li>AUTHOR : 관리자이름</li>
                                      <li>DASHBOARD : true (연동여부)</li>
                                      <li>TEAM : 팀이름</li>
                                    </ul>
                                  </li>
                                </p>
                                <p>
                                  <li>
                                    선택 작성 항목 : SERVER_ENVIRONMENT, JENKINS_URL, EMAIL_ADDRESS
                                    <ul>
                                      <li>SERVER_ENVIRONMENT : Real / Stage 환경정보</li>
                                      <li>JENKINS_URL : 연동할 jenkins 링크주소</li>
                                      <li>EMAIL_ADDRESS : 자동화 실패 알림을 받아볼 메일주소</li>
                                    </ul>
                                  </li>
                                </p>
                              </ul>
                            </li>
                            <hr />
                            <li>
                              주의사항
                              <ul>
                                <p>
                                  <li>
                                    <b style="font-size:16px;">PROJECT_NAME의 [플랫폼정보]</b>안에는 아래의 항목중 1개가 입력되어야 합니다.
                                    <ul>
                                      <li>PCWeb</li>
                                      <li>PCApp</li>
                                      <li>MobileWeb</li>
                                      <li>MobileApp</li>
                                      <li>API</li>
                                    </ul>
                                  </li>
                                </p>
                              </ul>
                            </li>
                            <br>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel">
                  <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse"
                    data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="panel-title">common-unit-lib 미사용, SQA-Client사용</h4>
                  </a>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="col-md-6 col-sm-6 com-xs-12">
                        <img style="max-width: 100%;height: auto" src="/images/guide_220_nolib_pom.PNG" />
                        <hr />
                        <img style="max-width: 100%;height: auto" src="/images/guide_220_nolib_ex.PNG" />
                      </div>
                      <div class="col-md-6 col-sm-6 com-xs-12">
                        <div class="x_panel">
                          <ol>
                            <li>
                              pom.xml Dependency 추가
                              <ul>
                                <p>
                                  <li>pom.xml > dependency를 사진과 같이 추가해주세요.</li>
                                </p>
                                <p>
                                  <li>project 우클릭 > Maven > Update Project 를 수행하여 pom.xml 업데이트를 반영해주세요.</li>
                                </p>
                              </ul>
                            </li>
                            <hr />
                            <li>
                              해당하는 위치에서 API 호출
                              <ul>
                                <p>
                                  <li><b>Import Package : com.nts.gt.support.client.*</b></li>
                                </p>
                                <p>
                                  <li>
                                    DashboardClient.beforeSuite
                                    <ul>
                                      <li>호출 위치 : @BeforeSuite Annotation / 프로젝트 수행시 초기 1회 </li>
                                      <li>Parameter : (프로젝트명, 팀명, 플랫폼명, 관리자명, Jenkins링크주소, 수행환경, 메일주소)</li>
                                    </ul>
                                  </li>
                                </p>
                                <p>
                                  <li>
                                    DashboardClient.beforeClass
                                    <ul>
                                      <li>호출 위치 : @BeforeClass Annotation / 각 Class 수행시마다 초기 1회 </li>
                                      <li>Parameter : (클래스명, 패키지명)</li>
                                    </ul>
                                  </li>
                                </p>
                                <p>
                                  <li>
                                    DashboardClient.afterMethod - <b>testNG 사용하는 경우</b>
                                    <ul>
                                      <li>호출 위치 : @AfterMethod Annotation / 각 Method 수행종료후 1회</li>
                                      <li>Parameter : (메소드명, 테스트결과)</li>
                                      <li>테스트결과는 ITestResult를 넘겨주시면 됩니다.</li>
                                    </ul>
                                  </li>
                                </p>
                                <p>
                                  <li>
                                    DashboardClient.afterMethod - <b>testNG 사용하지 않는 경우</b>
                                    <ul>
                                      <li>호출 위치 : @AfterMethod Annotation / 각 Method 수행종료후 1회</li>
                                      <li>Parameter : (메소드명, 시작시간, 종료시간, 테스트결과)</li>
                                      <li>시작시간과 종료시간은 "yyyy-MM-dd HH:mm:ss" 형식으로 입력해주세요.</li>
                                      <li>테스트결과는 <b>Pass - 1 / Fail - 2 / Skip - 3 </b>으로 넘겨주시면 됩니다. </li>
                                    </ul>
                                  </li>
                                </p>
                                <p>
                                  <li>
                                    DashboardClient.afterSuite (자동화 실패 알림 기능을 사용할 경우)
                                    <ul>
                                      <li>호출 위치 : @AfterSuite Annotation / 모든 프로젝트 수행종료후 1회</li>
                                      <li>Parameter : 없음</li>
                                    </ul>
                                  </li>
                                </p>
                              </ul>
                            </li>
                            <hr />
                            <li>
                              주의사항
                              <ul>
                                <p>
                                  <li>
                                    <b><big>beforeSuite과 beforeClass는 순서대로 최소 1회 호출</big></b>되어야 합니다.
                                    <ul>
                                      <li>프로젝트 구조가 다르거나, Annotation 미지원시에도 최소 1회는 호출되어야 합니다.</li>
                                      <li>해당 API 호출순서가 뒤바뀌면 결과값이 올바르게 반영되지 않습니다.</li>
                                    </ul>
                                  </li>
                                </p>
                              </ul>
                            </li>
                            <br>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse"
                      data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4 class="panel-title">common-unit-lib 미사용, DashboardAPI 단독 사용</h4>
                    </a>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div class="col-md-6 col-sm-6 com-xs-12">
                          <img style="max-width: 100%;height: auto" src="/images/guide_220_nolib_pom_API.PNG" />
                          <hr />
                          <img style="max-width: 100%;height: auto" src="/images/guide_220_nolib_ex_API.PNG" />
                        </div>
                        <div class="col-md-6 col-sm-6 com-xs-12">
                          <div class="x_panel">
                            <ol>
                              <li>
                                pom.xml Dependency 추가
                                <ul>
                                  <p>
                                    <li>pom.xml > dependency를 사진과 같이 추가해주세요.</li>
                                  </p>
                                  <p>
                                    <li>project 우클릭 > Maven > Update Project 를 수행하여 pom.xml 업데이트를 반영해주세요.</li>
                                  </p>
                                </ul>
                              </li>
                              <hr />
                              <li>
                                해당하는 위치에서 API 호출
                                <ul>
                                  <p>
                                    <li><b>Import Package : com.nts.gt.auto.dashboard.DashboardAPI</b></li>
                                  </p>
                                  <p>
                                    <li>
                                      DashboardAPI.beforeSuite
                                      <ul>
                                        <li>호출 위치 : @BeforeSuite Annotation / 프로젝트 수행시 초기 1회 </li>
                                        <li>Parameter : (프로젝트명, 팀명, 플랫폼명, 관리자명, Jenkins링크주소, 수행환경)</li>
                                      </ul>
                                    </li>
                                  </p>
                                  <p>
                                    <li>
                                      DashboardAPI.beforeClass
                                      <ul>
                                        <li>호출 위치 : @BeforeClass Annotation / 각 Class 수행시마다 초기 1회 </li>
                                        <li>Parameter : (클래스명, 패키지명)</li>
                                      </ul>
                                    </li>
                                  </p>
                                  <p>
                                    <li>
                                      DashboardAPI.afterMethod - <b>testNG 사용</b>
                                      <ul>
                                        <li>호출 위치 : @AfterMethod Annotation / 각 Method 수행종료후 1회</li>
                                        <li>Parameter : (메소드명, 테스트결과)</li>
                                        <li>테스트결과는 ITestResult를 넘겨주시면 됩니다.</li>
                                      </ul>
                                    </li>
                                  </p>
                                  <p>
                                    <li>
                                      DashboardAPI.afterMethod - <b>testNG 미사용</b>
                                      <ul>
                                        <li>호출 위치 : @AfterMethod Annotation / 각 Method 수행종료후 1회</li>
                                        <li>Parameter : (메소드명, 시작시간, 종료시간, 테스트결과)</li>
                                        <li>시작시간과 종료시간은 "yyyy-MM-dd HH:mm:ss" 형식으로 입력해주세요.</li>
                                        <li>테스트결과는 Pass - 1 / Fail - 2 / Skip - 3 으로 넘겨주시면 됩니다. </li>
                                      </ul>
                                    </li>
                                  </p>
                                  <p>
                                    <li>
                                      DashboardAPI.afterSuite (자동화 실패 알림 기능을 사용할 경우)
                                      <ul>
                                        <li>호출 위치 : @AfterSuite Annotation / 모든 프로젝트 수행종료후 1회</li>
                                        <li>Parameter : 없음</li>
                                      </ul>
                                    </li>
                                  </p>
                                </ul>
                              </li>
                              <hr />
                              <li>
                                주의사항
                                <ul>
                                  <p>
                                    <li>
                                      <b><big>beforeSuite과 beforeClass는 순서대로 최소 1회 호출</big></b>되어야 합니다.
                                      <ul>
                                        <li>프로젝트 구조가 다르거나, Annotation 미지원시에도 최소 1회는 호출되어야 합니다.</li>
                                        <li>해당 API 호출순서가 뒤바뀌면 결과값이 올바르게 반영되지 않습니다.</li>
                                      </ul>
                                    </li>
                                  </p>
                                </ul>
                              </li>
                              <br>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </div> <!-- accordion end -->
            </div> <!-- x_content end -->
          </div> <!-- x_panel end -->
        </div>
      </div>
      <!-- /page content -->

      <% include ./partials/footer.ejs %>
    </div>
  </div>
  <script src="/js/libraries.min.js"></script>
  <!-- Custom Theme Scripts -->
  <script src="/js/custom.min.js"></script>
</body>

</html>