<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/header.ejs %>
  <title>Server Error</title>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center">
            <h1 class="error-number">500</h1>
            <h2>Internal Server Error</h2>
            <p>If the problem persists, feel free to contact me. gh.yoo@nts-corp.com
            </p>
            <div class="mid_center">
              <a href = "/index"><h3>Go To Main</h3></a>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>

  <script src="/js/libraries.min.js"></script>
  <!-- Custom Theme Scripts -->
  <script src="/js/custom.min.js"></script>
</body>
</html>
