<li class="media event">
  <a class="pull-left border-pass profile_thumb">
    <i class="fa fa-archive pass"></i>
  </a>
  <div class="media-body">
    <a id="failTitle0" class="title">PJ_name</a>
    <p id="failp0"> X개중 X개 성공(%) </p>
    <p><small id="failauthor0">author</small></p>
  </div>
</li>
